html{
   height: 100%;
   width:100%
}
body{
   background: url('background.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   margin: 0 !important;
   background-size: 100% cover!important;
   overflow:hidden;
   display: block;
}

#main-container-div{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   height: 100%;
   width: 100%;
}
.yellow-button{
   background: #ecd540;
   width: 100px;
   padding: 8px;
   margin: 0 5px;
   cursor: pointer;
   font-weight: bold;
   font-size: 90%;
   font-family: Arial, Helvetica, sans-serif;
}
.postButtons{
   position: absolute;
   top:40%;
   left: 50%;
   transform: translate(-55%, -55%);
   align-items: center;
}
textarea{
   margin-top: 10px;
}
.create-btn{
   margin-top: 10px;
   background-color: green;
   font-size: 14px;
   width:100px;
   color: white;
   padding: 10px;
   align-self: center;
   font-family: Abel;
}
.post-modal-content{
   background-color: #fefefe;
   margin: auto;
   padding: 10px;
   border: 1px solid #888;
   width: 60%;
   height: 80%;
}
/* Set a style for the rest of the elements besides the header elements on the index.html page */


                                 
